:root{
    --purple-color: #B142C3;
    --darkpurple-color: #77225B;
    --red-orange-color:#DE3A1F;

}
* {
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 62.5%;
}
#navbar{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: var(--darkpurple-color);
    top:0;
    margin: 0;
}
#navbar ul{
    display: flex;
}
#navbar li{
    padding: 2rem;
    list-style-type: none;
}
#navbar a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    margin: auto;
    background:var(--purple-color);
    width:auto;
    height: 80vh;
    top: 0;
    border-bottom: solid;
    border-width: 3rem;
    border-color: orange;
}
h1{
    color: orange;
    font-size: 7rem;
}
img{
    display: block;
    width: 70rem;
}
#text-for-title{
    text-align: center;
}
#text-for-title p{
    font-size: 3rem;
    color: white;
}
