:root{
    --purple-color: #B142C3;
    --darkpurple-color: #77225B;
    --red-orange-color:#DE3A1F;

}
* {
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    font-size: 62.5%;
}
#navbar{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
    background-color: var(--darkpurple-color);
    top:0;
    margin: 0;
}
#navbar a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s ease-out;
}
#navbar a:hover{
    background-color: var(--red-orange-color);
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    margin: auto;
    background:var(--purple-color);
    width:auto;
    height: 100vh;
    top: 0;
    border-bottom: solid;
    border-width: 3rem;
    border-color: orange;
}
h1{
    color: orange;
    font-size: 7rem;
}
img{
    display: block;
    width: 70rem;
}
#text-for-title{
    text-align: center;
}
#text-for-title p{
    font-size: 3rem;
    color: white;
}
.recipes-c{
    display: flex;
    background-color: var(--darkpurple-color);
    justify-content: space-evenly;
    align-content: center;
    height: 45vh;
    width: 100%;
    font-size: 2rem;
}
.recipes-c span{
    color: white;
}
.recipes-c a{
    text-decoration: none;
}
.img-rec{ 
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}
.container{
    display: block;
    align-self: center;
    height: 30rem;
    width: 40rem;
    text-align: center;
    background-color: yellow;
}
.recipes-c span{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
